article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Lato';
  font-size: 62.5%;
}

.farmWrapper {
  width: 100%;
}

header {
  text-align: center;
  background: url("http://www.colourbox.com/preview/1973701-483618-seamless-background-with-vegetables-pattern.jpg");
  background-attachment: fixed;
  padding: 7% 0;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
header h1 {
  padding: 8%;
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
  margin: 0 0 3% 0;
}
header .title {
  border: 5px solid white;
  background: rgba(0, 0, 0, 0.35);
  width: 73%;
  margin: 0% auto;
  padding: 1%;
}

.container {
  border-radius: 30px;
  margin: 0 auto;
  max-width: 600px;
  margin: 3% auto 0 auto;
}
.container .day {
  border: 1px solid rgba(241, 161, 40, 0.7);
  width: 100%;
}
.container .day .weekday {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5%;
  font-size: 3rem;
  background-color: rgba(244, 182, 88, 0.7);
}
.container .day .weekday:hover {
  cursor: pointer;
  transition: 0.7s all ease;
  background-color: rgba(244, 182, 88, 0.9);
}
.container .day .slide-info {
  margin: 5% auto;
  padding: 10px;
  display: none;
}
.container .day .slide-info .map-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #afcfaf;
  float: left;
}
.container .day .slide-info .map-image:hover {
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .container .day .slide-info .map-image {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    float: none;
  }
}

.info-box {
  float: left;
  margin-left: 7%;
}
@media only screen and (max-width: 650px) {
  .info-box {
    float: none;
    margin: 0 auto;
    display: inline;
    text-align: center;
  }
}
.info-box p {
  line-height: 1;
  font-size: 1.4rem;
}
.info-box h4 {
  font-size: 1.2rem;
  margin-top: 0;
}
@media only screen and (max-width: 650px) {
  .info-box h4 {
    clear: both;
  }
}

.non-curly {
  border-radius: 0px 0px 30px 30px;
}

footer {
  background-color: darkseagreen;
  width: 100%;
  margin-top: 6%;
  padding: 5px;
  border-top: 2px solid #86ad86;
}
footer .icons {
  width: 210px;
  margin: 0 auto;
  display: block;
}
footer .icons .icon-btn {
  float: left;
  background-position: center center;
  background-size: 100px auto;
  background-repeat: no-repeat;
}
footer .icons .icon-btn:first-of-type {
  margin-right: 10px;
}
footer .icons .icon-btn a {
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 200px;
}
footer .icons .icon-btn a:hover {
  cursor: pointer;
}
footer .icons .twitter-icon {
  background-image: url("images/twitter.png");
}
footer .icons .fb-icon {
  background-image: url("images/fb.png");
}
